body {
    font-family: 'Cabin Condensed', sans-serif;
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}
body:not(.index) {
    padding-top: 60px;
    padding-bottom: 20px;
    text-align: left;
}
body:not(.index) h1, h3 {
    text-align: center;
}
input[type=text] {
    text-transform: uppercase;
}
::-webkit-input-placeholder {
    text-transform: none !important;
}
:-moz-placeholder {
    text-transform: none !important;
}
::-moz-placeholder {
    text-transform: none !important;
}
:-ms-input-placeholder {
    text-transform: none !important;
}
.loading-gif, .error-p {
    display: none;
}
.error-p {
    color: #b94a48;
}
.geo-p {
    padding: 0;
    margin-top: 10px;
}
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
ol li {
    display: inline;
    padding: 0;
    line-height: 30px;
}
ol li:after {
    content: ', ';
}
ol li:last-child:after {
    content: '.';
}
ol li:last-child:before {
    content: 'and ';
}
.pure-grid {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.pure-grid:first-child {
    padding-right: 5px
}
.pure-grid:last-child {
    padding-left: 5px
}
#ofsted a {
    color: #4d4dff;
    text-decoration: none;
    border-bottom: 1px dotted #4d4dff;
    transition: all 0.3s;
}
#ofsted a:hover {
    color: #0000b3;
    border-bottom-color: #0000b3;
}
#ofsted a, #ofsted li {
    padding: 5px
}
#school img {
    max-width: 100%;
}
a:not([href]) {
    cursor: text
}
a.hidden {
    cursor: pointer;
}
.navbar div:nth-child(2) {
    margin: 0 auto;
    position: relative;
    z-index: -1;
}
.navbar div:nth-child(1) {
    position: absolute;
    top: 0;
}
.navbar a:not(#logo-link) {
    text-decoration: none;
    padding: 15px;
    background-color: black;
    color: white;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 14px;
    background-color: black;
    white-space: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 0;
}
.navbar a:not(#logo-link):hover {
    background-color: white;
    color: black;
}
.navbar a:not(#logo-link):not(:nth-child(2)):not(.hidden) {
    margin-left: -8px;
}
.container {
    background: white;
    width: 400px;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.navbar .hide {
    right: 0;
    position: absolute;
}
.navbar a {
    cursor: pointer !important;
}
.navbar #logo-link {
    z-index: 10;
}
.hasPlaceholder {
    color: #ccc;
    text-transform: none !important;
    font-size: 0.8em !important;
}
@media all and (max-width:800px) { 
    .index {
        padding-top: 60px
    }
    .schools li {
        line-height: 30px
    }
}
@media all and (max-width:400px) { 
    .pure-grid:first-child, .pure-grid:last-child {
        padding-left: 0;
        padding-right: 0;
    }
    button {
        margin-top: 10px;
    }
    body:not(.index){
        width: 100%;
        padding: 60px 10px 0 10px;
    }
    .index {
        padding-top: 5px;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
    }
}